* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.montserrat-uniquifier {
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid gray;
    background-image: url("imagens/fundo-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .logo-toy {
        width: 140px;
        padding: 10px;
    }
}

.headerContainer {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    display: none;

    @media(max-width: 700px) {
        display: flex;

        img {
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }
}

.menuClose {
    display: none;

    @media(max-width: 700px) {
        display: flex;
        align-self: flex-end;
        border: 0;
        background: transparent;

        img {
            width: 30px;
            height: 30px;
            padding: 5px;
        }
    }
}

.menu {
    display: flex;
    gap: 24px;
    padding-right: 10px;

    a {
        font-size: 20px;
        font-weight: 900;
        color: #FFD900;
        -webkit-text-stroke: #004E98;
        -webkit-text-stroke-width: 5px;
        paint-order: stroke fill;
        text-decoration: none;
    }

    @media(max-width: 700px) {
        background-image: url(imagens/fundo-menu.png);
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        border-right: 1px solid gray;
    }
}

.isOpen {
    transform: translateX(0);
}

.hero {
    margin-top: 60px;
    background-image: url(imagens/fundo-personagens.png);
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;

    .frase {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frase-vermelho {
        position: relative;
        width: 500px;
        height: auto;
        display: block;
    }

    p {
        position: absolute;
        color: #FFC548;
        max-width: 320px;
        font-size: 25px;
        font-weight: 700;
    }

    h1 {
        padding-top: 15%;
        font-size: 50px;
        font-weight: 700;
        max-width: 70%;
        color: #fff;

        span {
            color: #FFD900;
        }
    }
}

.etapas {
    background-image: url(imagens/fundo-xadrez-vermelho.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;

    .como {
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 32px;
        -webkit-text-stroke: 7px #E20025;
        paint-order: stroke fill;
        color: #FFD900;
        font-size: 40px;
    }

    .passo-a-passo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
        @media(max-width: 1200px){
            flex-wrap: wrap;
        }
        @media(max-width:650px){
            display: flex;
            flex-direction: column;
        }

        .etapa {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 320px;
            background-color: #77C0E1;
            border: solid 5px #004E98;
            border-radius: 15px;
            padding: 20px;
            gap: 15px;
            img{
                position: absolute;
                height: 85px;
                width: 105px;
                right: 0;
                bottom: 0;
            }

            .primeiro {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
            }

            p,
            h1 {
                color: #fff;
                font-size: 20px;
                font-weight: 750;
            }

            .um {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: #ffffff3d;
                border: solid 3px #fff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

        }

        .dois {
            background-color: #FFD900;
            border: 5px solid #8B7700;
        }

        .tres {
            background-color: #C52330;
            border: 5px solid #6E0009;
        }

        .quatro {
            background-color: #ACCC00;
            border: 5px solid #687B03;
        }
    }

}

.nuvem {
    background-image: url(imagens/nuvens.jpeg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    position: relative;
    margin-bottom: 20px;
    img{
        position: relative;
        height: 30%;
        width: 100%;
    }
    h1 {
        color: #FFD900;
        font-size: 40px;
        font-weight: 900;
        -webkit-text-stroke: 7px #E20025;
        paint-order: stroke fill;
    }

    p {
        color: #fff;
        font-size: 25px;
        font-weight: 900;
        -webkit-text-stroke: 4px #004E98;
        paint-order: stroke fill;
    }
}

.brinquedo{
    background-image: url(imagens/fundo-estrela.png);
    background-position: center;
    background-size: cover;
}

.brinquedos{
    padding-top: 55px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    text-align: center;
    h1{
        color: #fff;
        -webkit-text-stroke: 8px #004E98;
        paint-order: stroke fill;
    }

    img{

        cursor: pointer;
        transition: 1s;
        &:hover{
            transform: rotateX(180deg)
        }
    }
}


footer{
    display: flex;
    flex-direction: column;
    background-image: url(imagens/ondas.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}
.footerTodo{
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    @media(max-width: 768px){
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        width: 250px;

    }
    .Container1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 45px;
        p{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            max-width: 490px;
        }
    }

    .Container2{
        padding-top: 80px;
        display: flex;
        align-items: flex-start;
        align-content: center;
        gap: 45px;
        .contato{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .redes{
            display: flex;
            flex-direction: flex-start;
            gap: 40px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        nav{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        h1{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
        a,p{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.final{
    border-top: 1px solid #fff;
    background-color: #77C0E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    h1{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}

