* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.montserrat-uniquifier {
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid gray;
    background-image: url("imagens/fundo-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .logo-toy {
        width: 140px;
        padding: 10px;
    }
}

.headerContainer {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    display: none;

    @media(max-width: 700px) {
        display: flex;

        img {
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }
}

.menuClose {
    display: none;

    @media(max-width: 700px) {
        display: flex;
        align-self: flex-end;
        border: 0;
        background: transparent;

        img {
            width: 30px;
            height: 30px;
            padding: 5px;
        }
    }
}

.menu {
    display: flex;
    gap: 24px;
    padding-right: 10px;

    a {
        font-size: 20px;
        font-weight: 900;
        color: #FFD900;
        -webkit-text-stroke: #004E98;
        -webkit-text-stroke-width: 5px;
        paint-order: stroke fill;
        text-decoration: none;
    }

    @media(max-width: 700px) {
        background-image: url(imagens/fundo-menu.png);
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        border-right: 1px solid gray;
    }
}

.isOpen {
    transform: translateX(0);
}

.hero {
    margin-top: 60px;
    background-image: url(imagens/fundo-personagens.png);
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;

    @media(max-width: 700px) {
        .hero-title {
            font-size: 40px;
        }
    }

    .frase {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frase-vermelho {
        position: relative;
        width: 500px;
        height: auto;
        display: block;
    }

    p {
        position: absolute;
        color: #FFC548;
        max-width: 320px;
        font-size: 25px;
        font-weight: 700;
    }

    h1 {
        padding-top: 15%;
        font-size: 50px;
        font-weight: 700;
        max-width: 70%;
        color: #fff;

        span {
            color: #FFD900;
        }
    }
}

.etapas {
    background-image: url(imagens/Fundo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 150px;
    position: relative;

    .como {
        padding-top: 50px;
        padding-left: 50px;
        -webkit-text-stroke: 7px #E20025;
        paint-order: stroke fill;
        color: #FFD900;
        font-size: 40px;
    }

    .aqui {
        padding-left: 50px;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        -webkit-text-stroke: 2px #004E98;
        paint-order: stroke fill;
        padding-bottom: 32px;
    }

    .passo-a-passo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;

        @media(max-width: 1200px) {
            flex-wrap: wrap;
        }

        .etapa {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 320px;
            background-color: #77C0E1;
            border: solid 5px #004E98;
            border-radius: 15px;
            padding: 20px;
            gap: 15px;

            .guardas {
                width: 100px;
            }

            img {
                position: absolute;
                height: 60px;
                width: 60px;
                right: -5px;
                bottom: -3px;
            }

            .primeiro {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
            }

            p,
            h1 {
                color: #fff;
                font-size: 20px;
                font-weight: 750;
            }

            .um {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: #ffffff3d;
                border: solid 3px #fff;
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

        }

        .dois {
            background-color: #EBD035;
            border: 5px solid #8B7700;
        }

        .tres {
            background-color: #C52330;
            border: 5px solid #831720;
        }

        .quatro {
            background-color: #5B9233;
            border: 5px solid #284711;
        }
    }

}

.nuvem {


    img {
        position: relative;
        height: 30%;
        width: 100%;
    }

    h1 {
        color: #FFD900;
        font-size: 40px;
        font-weight: 900;
        -webkit-text-stroke: 7px #E20025;
        paint-order: stroke fill;
    }

    p {
        color: #fff;
        font-size: 25px;
        font-weight: 900;
        -webkit-text-stroke: 4px #004E98;
        paint-order: stroke fill;
    }
}

.catalogo-brinquedos {
    background-image: url(imagens/fundo-nuvem.png);

    .classificacao-titulo {
        padding-top: 50px;
        color: #FFD900;
        font-size: 40px;
        font-weight: 900;
    }
}

.brinquedo {
    position: relative;
    background-color: #ffffff50;
    border: 5px solid #fff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .pequeno{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.classe{
    background-color: #C52330;
    padding: 15px;
    border: 5px solid #831720;
    border-radius: 5px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}

.carrinho {
    background-color: #D3B339;
    padding: 15px;
    border: 5px solid #917B2A;
    border-radius: 5px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}

.blocos{
    background-color: #35ABE3;
    padding: 15px;
    border: 5px solid #126B96;
    border-radius: 5px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}

.bola{
    background-color: #5B9233;
    padding: 15px;
    border: 5px solid #284711;
    border-radius: 5px;
    p{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}

.brinquedos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;

    @media(max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.cards-brinquedos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    @media(max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 200px;
    h1{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .btn-doar{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #004E98;
        cursor: pointer;

        &:hover {
            background-color: #004E98;
            color: #FFD900;
            transition: all 0.3s ease-in-out;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #77C0E1;
    border-top: 2px solid #fff;
}

.footerTodo {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;

    @media(max-width: 1150px) {
        flex-direction: column;
        align-items: center;

        .container2 {
            padding-top: 12px;
        }
    }

    .footer-logo {
        width: 250px;
        padding-top: 50px;
    }

    .Container1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 45px;

        @media(max-width:1150px) {
            display: flex;
            text-align: center;

        }

        p {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            max-width: 490px;
        }
    }

    .Container2 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        gap: 45px;

        @media(max-width:1150px) {
            padding-top: 30px;
            align-items: center;
        }

        @media(max-width:650px) {
            flex-direction: column;

            .footerMenu {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        .footerMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contato {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }

        .redes {
            display: flex;
            flex-direction: flex-start;
            gap: 40px;

            @media(max-width:615px) {
                text-align: center;
                align-items: center;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h1 {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }

        a,
        p {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.final {
    border-top: 1px solid #fff;
    background-color: #77C0E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media(max-width:1115px) {
        text-align: center;
        align-items: center;
    }

    h1 {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}