* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid gray;
    background-image: url("imagens/fundo-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .logo-toy {
        width: 140px;
        padding: 10px;
    }
}

.headerContainer {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    display: none;

    @media(max-width: 700px) {
        display: flex;

        img {
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }
}

.menuClose {
    display: none;

    @media(max-width: 700px) {
        display: flex;
        align-self: flex-end;
        border: 0;
        background: transparent;

        img {
            width: 30px;
            height: 30px;
            padding: 5px;
        }
    }
}

.menu {
    display: flex;
    gap: 24px;
    padding-right: 10px;

    a {
        font-size: 20px;
        font-weight: 900;
        color: #FFD900;
        -webkit-text-stroke: #004E98;
        -webkit-text-stroke-width: 2px;
        text-decoration: none;
    }

    @media(max-width: 700px) {
        background-image: url(imagens/fundo-menu.png);
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        border-right: 1px solid gray;
    }
}

.isOpen {
    transform: translateX(0);
}

.hero {
    background-image: url(imagens/home-hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    margin-top: 100px;
}

.containerHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 620px;

    h4 {
        color: #FFD900;
        font-weight: 800;
        background-color: #E20025;
        padding: 10px;
        align-self: flex-start;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
    }

    >img {
        max-width: 450px;
        padding-top: 10px;
    }

    p {
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;

        .azul-negrito {
            color: #4493DD;
            font-weight: 800;
        }

        .azul-italico {
            color: #4493DD;
            font-style: italic;
        }
    }

    .botao {
        position: relative;
        display: flex;

        @media(max-width: 520px) {
            flex-direction: column;
            align-self: flex-start;
        }


        .doação {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                z-index: 1;
                width: 200px;
                height: 50px;
            }

            .doar {
                z-index: 2;
                position: absolute;
                color: #FFD900;
                font-weight: 800;
                text-decoration: none;
                padding: 10px;

                &:hover {
                    color: #ffffff;
                    transition: 0.5s;
                }
            }
        }


        .funcionamento {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                z-index: 1;
                width: 250px;
                height: 50px;
            }

            .funciona {
                position: absolute;
                z-index: 2;
                color: #FFD900;
                font-weight: 800;
                text-decoration: none;
                padding: 10px;

                &:hover {
                    color: #ffffff;
                    transition: 0.5s;
                }
            }
        }

    }

    @media(max-width: 650px) {
        width: 100%;
    }
}

.missao {
    display: flex;
    background-image: url(imagens/fundo-missao.png);
    top: 1px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
}

.containerMissao {
    width: 450px;

    @media(max-width: 650px) {
        width: 100%;
    }

    h4 {
        width: 200px;
        text-align: center;
        color: #FFD900;
        font-weight: 800;
        background-color: #5B9233;
        padding: 10px;
        align-self: flex-start;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
    }

    >img {
        max-width: 450px;
        padding-top: 10px;
    }

    .botao {
        position: relative;
        display: flex;

        .doação {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                z-index: 1;
                width: 200px;
                height: 50px;
            }

            .doar {
                z-index: 2;
                position: absolute;
                color: #FFD900;
                font-weight: 800;
                text-decoration: none;
                padding: 10px;
                bottom: 1px;

                &:hover {
                    color: #ffffff;
                    transition: 0.5s;
                }
            }
        }
    }
}

.textoNoAzul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;

    @media(max-width: 520px) {
        flex-direction: column;
        align-self: flex-start;
    }

    img {
        position: relative;
        z-index: 1;
        width: 500px;
    }

    p {
        z-index: 2;
        color: #ffffff;
        font-weight: 500;
        position: absolute;
        width: 400px;
        font-size: 15px;
    }
}


.impacto {
    background-image: url(imagens/fundo-impacto.png);
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;

    h1{
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        color: #FFC548;
        -webkit-text-stroke: #C52330;
        -webkit-text-stroke-width: 4px;
        padding: 25px;
    }
}

.quadrados{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.cubo {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;

    h2{
        font-weight: 900;
    }

    p{
        font-weight: 700;
    }
}

.estado-do-brinquedo{
    background-image: url(imagens/fundo-estado.png);
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;

    img{
        width: 698px;
    }
}

.containerEstado{
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    h1{
        color: #FFC548;
        -webkit-text-stroke: #C52330;
        -webkit-text-stroke-width: 4px;
        font-weight: 900;
        font-size: 50px;
    }
}